body {
    margin: 0;
    padding: 0;
    font-family: 'Stack Sans Text', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #3598e8, #6e35e8);
}
    
.main {
    width: 100%;
    max-width: 540px;
    min-height: 500px;
    background: white;
    padding: 40px 30px;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 7px 7px 0 rgba(0, 0, 0, 0.3);
}
.main h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
h1 img {
    margin-left: 20px;
    width: 40px;
}
.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
}
#input-box {
    width: 80%;
    height: 20px;
    border: none;
    padding: 10px;
    background: #dedede;
    border-radius: 20px;
    font-size: 1rem;
    font-family: 'Stack Sans Text', sans-serif;
}
button {
    font-size: 1rem;
    font-family: 'Stack Sans Text', sans-serif;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-left: 20px;
    border-radius: 20px;
    color: white;
    background: linear-gradient(135deg, #3598e8, #6e35e8);
    border: none;
    transition: transform 0.3s ease;
}
button:active {
    background: linear-gradient(100deg, #3598e8, #6e35e8);
}
button:hover {
    transform: scale(1.1);
}
button.inactive {
    padding: 10px 80px;
    margin: 0;
}
#list-container {
    padding: 0 30px;
}
ul li {
    list-style: none;
    font-size: 1.2rem;
    padding: 10px 0;
    user-select: none;
    position: relative;
}
ul li::before {
    content: '';
    background-image: url(./images/unchecked.png);
    background-size: cover;
    background-position: center;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 10px;
    left: -30px;
}
ul li.checked {
    text-decoration: line-through;
    color: rgb(177, 176, 176)
}
ul li.checked::before {
    content: '';
    background-image: url(./images/checked.png);
    background-size: cover;
    background-position: center;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 10px;
    left: -30px;
}
ul li span img{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0;
    transition: transform 0.3s ease;
}
.edit {
    position: absolute;
    margin-right: 30px;
}
ul li span img:hover {
    transform: scale(1.2);
}
#edit {
    font-size: 1.2rem;
    font-family: 'Stack Sans Text', sans-serif;
    width: 100%;
}